<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-1.10.1.min.js"></script>
</head>
<body>
    <div class="box">
        <p class="content">五子棋双人对战(单机版)</p>
        <p class="text">
            <a href="#" id="changeBlack">黑方先下</a>
            <a href="#" id="changeWhite">白方先下</a>
        </p>
        <p id="finish">已下招数: &nbsp;&nbsp;<span>0</span><strong>请执&nbsp;<em>黑子</em>&nbsp;者下棋</strong></p>
        <div id="box">
            <div id="tip">12321</div>
            <a href="#" id="reStart">重新开始</a>

            <% list.forEach(item=>{ %>
                <i class="<%= item.status%>" style="position: absolute; left:<%= item.left %>px;top:<%= item.top %>px;"></i>
            <% }) %>


        </div>
    </div>


    <script src="../js/index.js"></script>
</body>
</html>